{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'selection.css' %}">
</head>
<body>
    <div class="sel">
        <button onclick="location.href = '/diner/'" class="b1">I AM A DINER</button>
        <button onclick="location.href = '/manager/'" class="b1" >I AM A MANAGER</button>
    </div>
</body>
</html>