@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    margin: 0;
    font-family: quicksand;
}
.b1{
    background-color: antiquewhite;
    box-sizing: border-box;
    width: 80%;
    padding: 6px;
    margin: 8px;
    border-radius: 20px;
    max-width: 250px;
    text-align: -webkit-center;
}


.sel{
    background-color: maroon;
    width: 100vw;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#preview{
    width:500px;
    height: 500px;
    margin:0px auto;
}
.login{
    background-image: url("https://previews.123rf.com/images/akz/akz1809/akz180902298/108527581-outdoor-cafe-design-near-sea-water-relaxation-place-on-the-beach-many-empty-tables-and-chairs.jpg");
     background-size: cover;
     margin: 1%;
    height: 100vw;
    width: 75vh;
    text-align: -webkit-center;
    display: flex;
    /* flex: auto; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content:center;
    align-items: center;
    margin-left: 30%;
}

.input1{
    background-color: rgb(164, 250, 250);
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    margin: 8px;
    border-radius: 20px
}


.input2{
    background-color: rgb(164, 250, 250);
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    margin: 8px;
    border-radius: 20px
}
.input3{
    margin-top: 15%;
    width: 90%;
    height: 25%;
    background-color: aqua;
    border-radius: 20px
}

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 20%;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.mobile-number{
    padding: 20%;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

input[type="number" i] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}